<h1> Learn more about <%= @guest.name %></h1>

<h2>List of episodes and ratings:</h2>
<% @guest.episodes.each do |episode| %>
<li><%= link_to "Episode ##{episode.number} || Date: #{episode.date}", episode_path(episode) %></li>
<% end %> 
<% rating_count=0  %>
<% ave_rating =0 %>
<% @guest.appearances.each_with_index do |appearance, i| %>
<% rating_count += appearance.rating %>
<% ave_rating = rating_count/i %>
<% end %>
Average Rating:<%= ave_rating %>