<h1> About <%= @guest.name %></h1>



<% sorted_episodes = @guest.episode.sort_by{|episode| episode %>
<ul>
    <% @guest.episodes.each do |episode| %>
        <li>Appeared on: <%= link_to episode.date.strftime("%B %d, %Y"), episode_path(episode) %></li> 
            <% episode.appearances.each do |appearance| %>
                <li>Appearance rating: <%= appearance.rating %></li>
            <% end%>
    <% end%>
</ul>
        
