<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li>Episode number: <%= link_to episode.number, episode_path(episode) %> </li>
    <li>Episode date:<%= episode.date.strftime("%B %d, %Y") %></li>
    
  <% end %>
</ul>
