<h1> <%= "Episode # #{@episode.number}  Information" %> </h1>

<p><strong>Episode Date: <%= @episode.date.strftime("%B %d, %Y") %> </strong></p>
<p><strong> List of Guests : </strong></p>
<ul>
    <% @episode.guests.each do |guest| %>
        <li><%= link_to guest.name, guest_path(guest) %></li>
    <% end %>
        </ul>

