<h1>Episode: <%= @episode.date %></h1>

<p><% @episode.guests.each do |guest| %></p>

    <%= link_to guest.name, guest_path(guest) %>

<%end %>

  <% rating_array = [] %>
<p><%  @episode.appearances.each do |item| %></p>
    <% rating_array << item.rating %>
<%end %>

  <% total = rating_array.sum %>
    Avg Rating: <%= total/rating_array.length%>
