<h1>Episode Informtaion</h1>

<strong>Air Date: </strong><%= @episode.date %><br><br>
<strong>Appeared <%= pluralize(@episode.guests.count, "guest") %></strong><br><br>
<% @episode.guests.each do |g| %>
<%= link_to g.name, guest_path(g) %><br>
<% end %>
<p>Average Rating: <%= @episode.avg_rating %></p>
