<h1>The Late Show: Episode #<%="#{@episode.number} at: #{@episode.date}" %></h1>

<h2>Featuring Guests:<% @episode.guests.each do |guest|   %>
<li><%= link_to guest.name, guest_path(guest) %></li>
<% end %>

