<h1>Episode Show Page</h1>

<%= @episode.date %>
<% @episode.guests.each do |guest| %> 
  Guest Star :  <%= link_to guest.name, guest_path(guest) %><br>
  <% end %><br>

  Episode Average Rating : <%= @episode.avg_rating %>